#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}

.button-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  color: black;
  text-decoration: none;
  transition: background-color .3s, background-position-x .5s ease-in-out; /* Add this line */
}

.button:hover {
  background-position-x: -300%; /* Add this line */
}

h1.title {
  font-size: 5em;
}

body {
  height: 200vh; /* Set the height of the body to be twice the viewport height */
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.read-the-docs {
  color: #888;
}

.button-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
}

.button:hover {
  background-color: #3e8e41;
}